<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
       <bean id="shakespeareQuoter" class="foo.bar.lab02.ShakespeareQuoter">
              <property name="message" value="2b|!2b"/>
       </bean>
       <bean id="terminatorQuoter" class="foo.bar.lab02.TeminatorQuoter">
              <property name="messages">
                     <list value-type="java.lang.String">
                            <value>Give me your clothes</value>
                            <value>I'll be back!</value>
                     </list>
              </property>
       </bean>

       <bean id="iRobot" class="foo.bar.lab03.TalkingRobot">
              <property name="quoters">
                     <list value-type="foo.bar.lab02.Quoter">
                            <ref bean="shakespeareQuoter"/>
                            <ref bean="terminatorQuoter"/>
                     </list>
              </property>
       </bean>
       <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
       <bean class="foo.bar.lab04.RunThisMethodBeanPostProccessor"/>
       <bean class="foo.bar.lab05.BenchmarkProxySubject"/>

</beans>